## DOCKER VARIABLES

MYSQLDB_USER=root
MYSQLDB_ROOT_PASSWORD=123456
MYSQLDB_DATABASE=e-tax
MYSQLDB_LOCAL_PORT=3306
MYSQLDB_DOCKER_PORT=3306

API_LOCAL_PORT=8000
API_DOCKER_PORT=8000

## APP VARIABLES

NODE_SERVER_PORT=8000

APP_URL=http://localhost:8000

DB_NAME= auto-allocation
DB_HOST= localhost
DB_PORT= 3306
DB_USER_NAME= root
DB_PASSWORD=
DB_DIALECT= mysql

JWT_SECRET=

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@uba-auto-allocation.com
MAIL_TO_ADDRESS=info@uba-auto-allocation.com

# ORANGE API VARIABLES

CLIENT_ID=
CLIENT_SECRET=
GRANT_TYPE=client_credentials
AUTH_AIRTEL_URL=https://openapiuat.airtel.africa/auth/oauth2/token
KYC_MSISDN_URL=https://openapiuat.airtel.africa/standard/v1/users
AUTO_ALLOCATION_URL=https://openapiuat.airtel.africa/allocation
# FINACLE_URL=http://172.20.236.28:7819/cba/wbs
 FINACLE_URL=https://finuatwas.ubagroup.com:2222/fiwebservice/FIWebService
