NODE_SERVER_PORT = 8000
NODE_SERVER_PORT_SECURE = 8006

DB_NAME= NODE_SERVER_PORT = 8000

DB_NAME= auto-allocation
APP_URL= http://localhost:8000
DB_HOST= localhost
DB_PORT= 3306
DB_USER_NAME= root
DB_PASSWORD=
DB_DIALECT= mysql

JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY5MDM1OTE1NywiaWF0IjoxNjkwMzU5MTU3fQ.41uqiBj2kwjsCBSxgAGYXmp05L_I_J7Y78lUvNhY5rc
CRYPTO_PRIVATE_KEY="Zxy5$SDf:%tPrI]\[&A8j-b7^C1'1Hb]_g7O|Tn<4;eM]xNt£xn4jFB<v8h>05oF"


FINACLE_USERNAME=GUPAY
FINACLE_PASSWORD=waterfall
FINACLE_URL=http://172.20.236.28:7819/cba/wbs
 #FINACLE_URL=https://finuatwas.ubagroup.com:2222/fiwebservice/FIWebService

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_HOST_PORT=2525
MAIL_USERNAME=c73dc2ac46b0c5
MAIL_PASSWORD=a0bdcb27520b68
MAIL_FROM_ADDRESS=noreply@ubagroup.com
MAIL_TO_ADDRESS=

##AIRTEL MONEY VARIABLES
# CLIENT_ID=3fbe2eb3-1d12-4400-bacb-88ed59f096c0
# CLIENT_SECRET=306a42d5-018a-4099-ba6c-73b59555620d
CLIENT_ID=b8a1ae59-d5eb-42f6-a30a-4dc2819a2021
CLIENT_SECRET=92a95566-1439-4ab6-8a50-7f51da37cd89
GRANT_TYPE=client_credentials
AUTH_AIRTEL_URL=https://openapiuat.airtel.africa/auth/oauth2/token
KYC_MSISDN_URL=https://openapiuat.airtel.africa/standard/v2/users
AUTO_ALLOCATION_URL=https://openapiuat.airtel.africa/allocation


## DOCKER VARIABLES

MYSQLDB_USER=root
MYSQLDB_ROOT_PASSWORD=123456
MYSQLDB_DATABASE=e-tax
MYSQLDB_LOCAL_PORT=3306
MYSQLDB_DOCKER_PORT=3306

API_LOCAL_PORT=8000
API_DOCKER_PORT=8000

APP_URL= http://localhost:8000
DB_HOST= localhost
DB_PORT= 3306
DB_USER_NAME= root
DB_PASSWORD=
DB_DIALECT= mysql

JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY5MDM1OTE1NywiaWF0IjoxNjkwMzU5MTU3fQ.41uqiBj2kwjsCBSxgAGYXmp05L_I_J7Y78lUvNhY5rc


FINACLE_USERNAME=GUPAY
FINACLE_PASSWORD=waterfall
FINACLE_URL=http://172.20.236.28:7819/cba/wbs
 #FINACLE_URL=https://finuatwas.ubagroup.com:2222/fiwebservice/FIWebService
ENTRUST_URL=https://172.20.236.28:7851/entrust2/service
CERTIFICAT_PRIVATE_KEY_PATH= ./encryption/dev/cdc.key
CERTIFICAT_PATH= ./encryption/dev/ServerCertificate.crt
INTERMEDIATE_CERTIFICAT_PATH= ./encryption/dev/Intermediate.crt
ROOT_CERTIFICAT_PATH= ./encryption/dev/Root.crt

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_HOST_PORT=2525
MAIL_USERNAME=c73dc2ac46b0c5
MAIL_PASSWORD=a0bdcb27520b68
MAIL_FROM_ADDRESS=noreply@ubagroup.com
MAIL_TO_ADDRESS=

##AIRTEL MONEY VARIABLES Dev
# CLIENT_ID=3fbe2eb3-1d12-4400-bacb-88ed59f096c0
# CLIENT_SECRET=306a42d5-018a-4099-ba6c-73b59555620d
CLIENT_ID=b8a1ae59-d5eb-42f6-a30a-4dc2819a2021
CLIENT_SECRET=92a95566-1439-4ab6-8a50-7f51da37cd89
GRANT_TYPE=client_credentials
AUTH_AIRTEL_URL=https://openapiuat.airtel.africa/auth/oauth2/token
KYC_MSISDN_URL=https://openapiuat.airtel.africa/standard/v2/users
AUTO_ALLOCATION_URL=https://openapiuat.airtel.africa/allocation


## DOCKER VARIABLES

MYSQLDB_USER=root
MYSQLDB_ROOT_PASSWORD=123456
MYSQLDB_DATABASE=e-tax
MYSQLDB_LOCAL_PORT=3306
MYSQLDB_DOCKER_PORT=3306

API_LOCAL_PORT=8000
API_DOCKER_PORT=8000
