extends ../layout/default.pug

block content
    p Bonjour,
    p.
      Votre code OTP pour vous connecter à votre compte E-TAXE est le suivant : <br>
      <strong>#{otp}</strong> <br><br>

      Ce code a une durée de validité de 5 minutes.
      